@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem;
}
.navbar a{
    color: #000;
    text-decoration: none;
}
#header{
    position: fixed;
    z-index: 999;
    background-color: #fff;
    top: 0;
}
.logo{
    margin-right: 0;

}
.logo i{
    color: #2288ff;
    font-size: 1.7rem;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
    margin-bottom: 0;
}
.list a{
    font-size:  1.2rem;
    font-weight: 500;
}
#toggler, .navbar label{
    display: none;
}
#log-in{
    display: none;
    color: #2288ff;
}
#log-in2{
    color: #2288ff;
    font-size: 1.7rem;
}
.contacts{
    display: flex;
    justify-content: right;
    color: #000;
    font-weight: 500;
}
.contacts span{
    margin: 10px;
    align-items: center;
    display: flex;
}
.picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide{
    max-height: 600px;
}
.swiper-slide img{
    filter: brightness(75%);
}
.picture{
    position: relative;
    margin-top: 117px;
}
.text{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 1;
    color: #fff;
    font-size: 50px;
    text-align: center;
    box-shadow: 10px 10px 25px;
}
.search{
    position: absolute;
    top: 350px;
    z-index: 1;
    background-color: rgba(169,169,169, 0.7);
    width: 20%;
    max-width: 370px;
    min-width: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px 20px;
    border-radius: 2rem;

}
.rent-sell label{
    padding: 8px 25px;
    background-color: #fff;
    margin: 5px;
    border-radius: 1.5rem;
    width: 36%;
}
.select-option select{
    width: 80%;
    padding: 8px 15px;
    border-radius: 1rem;
    background-color: #fff;
}
.search-bar input{
    width: 80%;
    padding: 8px 15px;
    border-radius: 1rem;
    background-color: #fff;
    font-size: small;
    margin: 5px 0;
}
.min-max-price input{
    width: 37%;
    padding: 8px 10px;
    border-radius: 1rem;
}
.min-max-meter input{
    width: 37%;
    padding: 8px 10px;
    border-radius: 1rem;
    margin: 5px 0;
}
.select-rooms select{
    width: 80%;
    padding: 8px 15px;
    border-radius: 1rem;
    background-color: #fff;
}
.search-icon button{
    padding: 8px 15px;
    background-color: #2288ff;
    border-radius: 1rem;
    width: 55%;
    min-width: 150px;
    margin: 10px auto;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
}
.search-icon button:hover{
    background-color: #0000fa;
}
.more{
    padding: 10px 10px;
    font-size: 1.5rem;
    border: 1px solid;
    border-radius: 1.5rem;
    background-color: #2288ff;
    transition: 0.3s ease;
    color: white;
    outline: none;
}
.more:hover{
    background-color: #0000fa;
}
#Rolunk img{
    border-radius: 3rem 0 3rem 3rem;
}
#Rolunk .col{
    min-width: 300px;
}
.card{
    width: 30%;
    min-width: 300px;
    background-color: #fff;
    padding: 10px 10px;
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 25px;
    margin: 10px 10px;
    transition: 1s ease;
}
.card h5{
    transition: 1s ease;
    color: #192f6a;
}
.card:hover h5{
    color: white;
}
.card:hover{
    background-color:#2288ff;
    color: white;
}
.card:hover ~ #Tulaj i{
    background-color: white;
}
#Tulaj i{
    background-color: #F0F0F0;
    color:#2288ff;
    font-size: 20px;
    width: 50px;
    margin: 10px auto;
    padding: 15px 10px;
    border-radius: 4.5rem;
}
#Tulaj{
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
#flat-text{
    text-align: center;
    margin-bottom: 2rem;
}
.flat-continue{
    padding: 10px 10px;
    font-size: 1.5rem;
    border: 1px solid;
    border-radius: 1.5rem;
    background-color: #2288ff;
    transition: 0.3s ease;
    color: white;
    outline: none;
    width: 157px;
    margin: 0 auto;
}
.flat-continue:hover{
    background-color:#0000fa;
    color: white;
}
#Catalog{
    margin-top: 7rem;
    background-color: #F0F0F0;
    padding: 2rem;
    border-radius: 2rem;
}
.cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 30%;
    min-width: 300px;
    padding: 0.7rem;
    border-radius: 1.5rem;
    cursor: pointer;
}
.cards img{
    border-radius: 1.5rem;
    height:240px;
    object-fit: cover;
}

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transform: translateX(-5%);
}

.text-container {
    padding: 0.7rem 1rem;
}
.text-container h6{
    text-align: right;
    font-size: 1.2rem;
}
.flat-name h5{
    text-align: left;
}
.flat-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flat-icons{
    font-size: 1.2rem;
    display: flex;
}
.flat-icons div{
    padding: 0 0.4rem;

}
#flat-card{
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4rem auto;
}
.email h5{
    color: #192f6a;
    font-size: 2rem;
}
.email form {
    padding: 6px 10px;
    border-radius: 5rem;
    position: relative;
    width: 35%;
    min-width: 300px;
}
    .email form button{
        background-color: #2288ff;
        color: #fff;
        border-radius: 2rem;
        padding: 0.5rem;
        border: none;
        position: absolute;
        top: 10px;
        right: 15px;
    }
    .email input[type="email"]{
        border-radius: 2rem;
        padding: 0.8rem;
        outline: none;
        box-shadow: 0 0 10px 5px grey;
        border: none;
        width: 100%;
    }
.Footer-text{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    color: #fff;
    flex-wrap: wrap;
    gap: 2rem 2rem;
}
#Footer-fluid{
    margin-top: 5rem;
    background-color: #2288ff;
    border-radius: 4rem 0 0 0;
}
.footer-box{
    display: flex;
    flex-direction: column;
    min-width: 210px;
}
.footer-box a{
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 0;
}
.footer-box a:hover{
    color: #192f6a;
}
.footer-icons {
    margin-top: 0.5rem;
}
.footer-icons a{
    padding: 0 0.5rem;
    font-size: 1.2rem;
}
.copyright{
    text-align: center;
    padding: 1rem;
    color: #fff;
}
@media only screen and (max-width: 1199px) {
    .footer-box{
        min-width: 190px;
    }
}

@media only screen and (max-width: 991px) {
    .footer-box{
        min-width: 210px;
    }
}
@media screen and (max-width: 992px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked~.menu{
        max-height: 100%;
    }
    #log-in2{
        display: none;
    }
    #log-in{
        display: flex;
    }
}
@media only screen and (max-width: 1233px) {
    .picture .swpier-picure{
        height: 100%;
    }
}
#rolunk-container img {
    width: 100%;
    height: 400px;
    border-radius: 3rem;
    object-fit: cover;
}
#Rolunk{
    position: relative;
    height: 100%;
}
#rolunk-container{
    object-fit: cover;
    width: 1000px;
    height: 1000px;
    margin-top:200px;
}
.back-button{
    padding: 10px;
}
.back-button .back{
    margin-left: 45%;
    padding: 10px 10px;
    font-size: 1.5rem;
    border: 1px solid;
    border-radius: 1.5rem;
    background-color: #2288ff;
    transition: 0.3s ease;
    color: white;
    outline: none;
}
#Footer2{
    margin-top: 35rem;
}
#karrier-container img{
    width: 100%;
    height: 400px;
    border-radius: 3rem;
    object-fit: cover;
}
#karrier-container{
    object-fit: cover;
    width: 1000px;
    height: 1000px;
    margin-top:150px;
}
#karrier-container h1{
    color: #192f6a;
    padding-top: 30px;
}
#karrier-container2{
    object-fit: cover;
    width: 1000px;
    height: 600px;
}
#karrier-container2 img{
    width: 80%;
    height: 100%;
    border-radius: 3rem;
    object-fit: cover;
}
#karrier12 h3{
    color: #192f6a;
}
#karrier12 p{
    font-size: 18px;
    padding: 12px 0;
}
.karrier-button button{
    margin-left: 45%;
    padding: 10px 10px;
    background-color: #2288ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3rem;
}
#Footer-fluid3{
    margin-top: 10rem;
    background-color: #2288ff;
    border-radius: 4rem 0 0 0;
}
.row{
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

